﻿@model Customer.Web.Models.Cart.ProductAddedViewModel

<h3>Product successfully added To cart!</h3>

What do you want to do next?
<ul>
    <li>
        @Html.ActionLink("See product details once more?", "ProductDetails", "Product", new { productGuid = Model.ProductId }, null)
    </li>
    <li>
        @Html.ActionLink("Show items already added to cart?", "CartDetails", "Cart")
    </li>
</ul>



