﻿@using Customer.Web.Models.Product
@using Customer.Web.Extensions
@model ProductListEntryViewModel[]


<div class="row">
    <p>Maybe you are looking for something else? Check these similar products:</p>

    @foreach (var product in Model)
    {
        <div class="row well well-sm">
            <div class="col-md-12">
                <div class="col-md-2">
                    <a href="@Url.Action("ProductDetails", "Product", new { productGuid = product.ProductGuid })" class="thumbnail">
                        @if (!string.IsNullOrWhiteSpace(product.ImageUri))
                        {
                            <img alt="@($"{ product.ProductName } -thumbnail")" src="@product.ImageUri" />
                        }
                        else
                        {
                            <img src="~/Content/Images/default_product.gif" />
                        }
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <h3>
                                @Html.ActionLink(@product.ProductName, "ProductDetails", "Product", new { productGuid = product.ProductGuid }, null)
                            </h3>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-primary">
                                @product.GameGenre.GetEnumDescription()
                            </span>
                            <span class="label label-default">
                                @product.SalePlatform
                            </span>
                        </div>
                        <div class="col-md-9">
                            @product.ShortDescription
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(m => @product.Price)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>