﻿@model WebTestPaymentPortal.Models.PaymentViewModel

@{ 
    object tempObj = false;
    bool getSuccess = TempData.TryGetValue("success", out tempObj);
}

@if(getSuccess)
{
    <p>Payment successfully send!</p>
}

@using (Html.BeginForm("MakePayment", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(m => m.CartId)
        @Html.TextBoxFor(m => m.CartId)
    </div>
    <div>
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount)
    </div>

    <input type="submit" value="submit"/>
}