﻿@using Customer.Web.Standard.Models.Order

@model List<OrderListEntryViewModel>

<h3>Order list</h3>

@if (Model.Any(o => o.DateCompleted == null))
{
    <div class="alert alert-warning" role="alert">You have some unpaid orders.</div>
}

@if (Model.Any())
{
    <div class="row">
        @foreach (var order in Model)
        {
            <div class="row well well-sm">
                <div class="col-md-3">
                    <div class="col-md-12">
                        @order.DatePlaced
                    </div>
                    <div class="col-md-12">
                        @if (order.IsCompleted)
                        {
                            <span class="label label-success">COMPLETED</span>
                            <text>@order.DateCompleted</text>
                        }
                        else if (order.IsCancelled)
                        {
                            <span class="label label-danger">CANCELLED</span>
                        }
                        else
                        {
                            <span class="label label-info">Waiting for payment</span>
                        }

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        @if (order.IsCompleted)
                        {
                            @Html.ActionLink(order.OrderGuid.ToString(), "OrderDetails", "Orders", new { orderGuid = order.OrderGuid }, null)
                        }
                        else
                        {
                            <div class="order" data-is-waiting-for-payment="@(!order.IsCancelled)" data-amount="@order.TotalPrice" data-order-guid="@order.OrderGuid.ToString()">
                                @order.OrderGuid.ToString()
                            </div>
                        }
                    </div>
                    <div class="col-md-12">
                        @foreach (var orderItem in order.Products)
                        {
                            if (orderItem.Quantity > 1)
                            {
                                @orderItem.Quantity @:x @orderItem.ProductName
                            }
                            else
                            {
                                @orderItem.ProductName
                            }
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(m => order.TotalPrice)
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Apparently, you dont have any orders in your history.</p>
}

