﻿@model Customer.Web.Standard.Models.Order.OrderDetailsViewModel

<div class="row">
    <div class="row">
        <div class="col-md-3">
            Date placed: @Model.DatePlaced
            <br />
            Date completed: @Model.DateCompleted
        </div>
        <div class="col-md-6 center-text">
            @Model.OrderGuid
        </div>
        <div class="col-md-3">
            Order total value:
            <br />
            @Html.DisplayFor(m => m.TotalPrice)
        </div>
    </div>


    @foreach (var product in Model.Products)
    {
        <div class="row well well-sm">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    @if (!string.IsNullOrWhiteSpace(product.ImageUri))
                    {
                        <img alt="@($"{ product.ProductName } -thumbnail")" src="@product.ImageUri" />
                    }
                    else
                    {
                        <img src="~/Content/Images/default_product.gif" />
                    }
                </a>
            </div>
            <div class="col-md-10">
                <h3>@product.ProductName</h3>
                <br/>
                <ul>
                    @foreach (var code in product.Codes)
                    {
                        <li>@code</li>
                    }
                </ul>
            </div>
        </div>
    }

</div>
