﻿@model Customer.Web.Standard.Models.Cart.CartDetailsViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning">
        @Html.ValidationSummary()
    </div>
}

@if (Model.CartItems != null && Model.CartItems.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading">Your cart contains...</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th>Total price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.CartItems.Length; i++)
                {
                    <tr>
                        <td>@Model.CartItems[i].ProductName</td>
                        <td>@Html.DisplayFor(m => m.CartItems[i].Price)</td>
                        <td>@Model.CartItems[i].Quantity</td>
                        <td>@Html.DisplayFor(m => m.CartItems[i].TotalPrice)</td>
                        <td>
                            @using(Html.BeginForm("RemoveCartItem", "Cart", FormMethod.Post, new { @class="block-inline" }))
                            {
                                @Html.Hidden("productGuid", Model.CartItems[i].ProductGuid)
                                <input type="submit" class="btn btn-danger btn-xs" value="Remove"/>
                            }
                            
                            @Html.ActionLink("Change quantity", "ChangeCartItemQuantity", "Cart", 
                                    new { productGuid = Model.CartItems[i].ProductGuid, cartGuid = Model.CartGuid }, 
                                    new { @class ="btn btn-info btn-xs" })
                        </td>
                    </tr>
                }
                <tr class="active">
                    <td></td>
                    <td></td>
                    <td>@Model.TotalQuantity</td>
                    <td>@Html.DisplayFor(m => m.TotalPrice)</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="well text-right">
        <div>
            <b>Total cart price: @Html.DisplayFor(m => m.TotalPrice)</b>
        </div>
        <div>
            @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.CartGuid)
                <input type="submit" class="btn btn-primary" value="Proceed to checkout">
            }
        </div>
        <div class="margin-top-10">
            @using (Html.BeginForm("RemoveCart", "Cart", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.CartGuid)
                <input type="submit" class="btn btn-danger btn-xs" value="Clear items in cart">
            }
           
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        Unfortunately your cart is empty at this moment. If you added some items and don't see them yet try to refresh page.
    </div>
}