﻿@model Customer.Web.Standard.Models.Cart.ChangeCartItemQuantityViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="row well well-sm">
        <div class="col-md-12">
            <div class="col-md-2">
                <a href="@Url.Action("ProductDetails", new { productGuid = Model.ProductGuid })" class="thumbnail">
                    @if (!string.IsNullOrWhiteSpace(Model.Thumbnail))
                    {
                        <img alt="@($"{ Model.ProductName }-thumbnail")" src="@Model.Thumbnail" />
                    }
                    else
                    {
                        <img src="~/Content/Images/default_product.gif" />
                    }
                </a>
            </div>
            <div class="col-md-10">
                <div class="col-md-12">

                    <h3>
                        @Html.ActionLink(Model.ProductName, "ProductDetails", new { productGuid = Model.ProductGuid })
                    </h3>

                    @Html.HiddenFor(m => m.CartGuid)
                    @Html.HiddenFor(m => m.ProductGuid)

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewQuantity)
                        @Html.TextBoxFor(m => m.NewQuantity, new { @class = "form-control" })
                    </div>

                    <input type="submit" value="Change quantity" class="btn btn-primary" />

                </div>
            </div>
        </div>
    </div>
}