﻿@using Customer.Web.Standard.Extensions

@model Customer.Web.Standard.Models.Product.ProductDetailsViewModel

<div class="row">
    <row>
        <div class="col-md-3">
            @if (Model.ImageThumbnail != null)
            {
                <div class="thumbnail">
                    <img src="@Model.ImageThumbnail" />
                </div>
            }
            else
            {
                <div class="thumbnail">
                    <img src="~/Content/Images/default_product.gif" />
                </div>
            }
        </div>
        <div class="col-md-9" style="height: 340px;">
            <div class="row">
                <div class="col-md-12">
                    <h3>@Model.Name</h3>
                </div>
                <div class="col-md-12">
                    <span class="label label-default">@Model.SalePlatform.GetEnumDescription()</span>
                    <span class="label label-primary">@Model.GameGenre.GetEnumDescription()</span>
                </div>
                <div class="col-md-12" style="margin-top: 20px; font-size: 20px">
                    @Html.DisplayFor(m => m.Price)
                </div>
                <div class="col-md-12">
                    @using (Html.BeginForm("AddProductToCart", "Cart"))
                    {
                        @Html.Hidden("productId", Model.ProductGuid)
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
                        </button>
                    }
                </div>
            </div>
        </div>
    </row>
    <row>
        <div class="col-md-8">
            @Model.Description
        </div>
        <div class="col-md-4">
            @foreach(var imgUri in Model.ImageUris)
            {
                <img src="@imgUri" style="width:420px; margin-bottom: 10px;" />
            }
        </div>
    </row>
</div>
