﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Sample Shop using Standard architecture</h2>
    <p class="lead">Start from adding list of products to the cart.</p>
    <p><a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg">List of products &raquo;</a></p>
</div>