﻿@using Customer.Web.Extensions
@using Customer.Web.Models.Product
@using PagedList.Mvc;
@model ProductListViewModel

@Html.Partial("ProductsSearchFilter", Model.SearchFilter)

<div class="row">
    @foreach (var product in Model.Results)
    {
        <div class="row well well-sm">
            <div class="col-md-12">
                <div class="col-md-2">
                    <a href="@Url.Action("ProductDetails", new { productGuid = product.ProductGuid })" class="thumbnail">
                        @if (!string.IsNullOrWhiteSpace(product.ImageUri))
                        {
                            <img alt="@($"{ product.ProductName } -thumbnail")" src="@product.ImageUri" />
                        }
                        else
                        {
                            <img src="~/Content/Images/default_product.gif" />
                        }
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <h3>
                                @Html.ActionLink(@product.ProductName, "ProductDetails", new { productGuid = product.ProductGuid })
                            </h3>
                        </div>
                        <div class="col-md-3">
                            <span class="label label-primary">
                                @product.GameGenre.GetEnumDescription()
                            </span>
                            <span class="label label-default">
                                @product.SalePlatform
                            </span>
                        </div>
                        <div class="col-md-9">
                            @product.ShortDescription
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(m => @product.Price)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.PagedListPager(Model.Results, page => Url.Action("Index", new
{
        page = page,
        ProductName = Model.SearchFilter.ProductName,
        MaxPrice = Model.SearchFilter.MaxPrice,
        GameGenre = Model.SearchFilter.GameGenre,
        SalePlatform = Model.SearchFilter.SalePlatform
    }))
</div>


