﻿@model Customer.Web.Models.Product.ProductSearchFilterViewModel

<div class="row" id="search-filter">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.ProductName)
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MaxPrice)
            @Html.TextBoxFor(m => m.MaxPrice, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SalePlatform)
            @Html.EnumDropDownListFor(m => m.SalePlatform, "--Select--", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GameGenre)
            @Html.EnumDropDownListFor(m => m.GameGenre, "--Select--", new { @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-primary"/>
    }
</div>