﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.price {
    font-size: 20px;
}

#search-filter {
    margin-bottom: 10px;
}

.cartTotals {
    float: right
}

.margin-top-10 {
    margin-top: 10px;
}

.block-inline {
    display: inline-block
}

.center-text {
    text-align: center;
}
