﻿@model CqrsShop.Web.Models.Product.AddProductViewModel
@{
    ViewBag.Title = "AddProduct";
}
<h2>Add Product</h2>
<div class="row" id="add-product-form">
    <div class="col-md-8">
        @using (Html.BeginForm("Add product"))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.ProductName)
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SalePlatform)
                @Html.EnumDropDownListFor(m => m.SalePlatform, "--Please select--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GameGenre)
                @Html.EnumDropDownListFor(m => m.GameGenre, "--Please select--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShortDescription)
                @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control", rows="4" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows="4" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImageUris)
                @Html.TextAreaFor(m => m.ImageUris, new { @class = "form-control", rows="10" })
            </div>
            

            <button type="submit" class="btn btn-primary">Add product</button>
        }
    </div>
</div>
