﻿@model CqrsShop.Web.Models.Product.ChangePriceOutcomeViewModel

<fieldset>
    <legend>Outcome</legend>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.OutcomeUnitPrice)</dt>
        <dd>@Model.OutcomeUnitPrice</dd>
        <dt>@Html.DisplayNameFor(m => m.OutcomeMarginPercentage)</dt>
        <dd>@(Model.OutcomeMarginPercentage * 100)%</dd>
        <dt>@Html.DisplayNameFor(m => m.OutcomeMarginAmount)</dt>
        <dd>@Model.OutcomeMarginAmount</dd>
        <dt>@Html.DisplayNameFor(m => m.OutcomeTotalPrice)</dt>
        <dd>@Model.OutcomeTotalPrice</dd>
    </dl>
</fieldset>

@using (Html.BeginForm("ChangePrice", "Product"))
{
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.OutcomeUnitPrice)
    @Html.HiddenFor(m => m.OutcomeMarginPercentage)
    <input class="btn btn-primary" type="submit" value="Accept" />
}
