﻿@model CqrsShop.Web.Models.Product.ChangeInformationViewModel

<h3>Change information</h3>

<div class="row" id="change-information-form">
    <div class="col-md-8">
        @using (Html.BeginForm("Add product"))
        {
            @Html.ValidationSummary()
            
            @Html.HiddenFor(m => m.ProductId)

            <div class="form-group">
                @Html.LabelFor(m => m.ProductName)
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GameGenre)
                @Html.EnumDropDownListFor(m => m.GameGenre, "--Please select--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShortDescription)
                @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control", rows = "4" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "4" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImageUris)
                @Html.TextAreaFor(m => m.ImageUris, new { @class = "form-control", rows = "10" })
            </div>

            <button type="submit" class="btn btn-primary">Change information</button>
        }
    </div>
</div>