﻿@model CqrsShop.Web.Models.Product.ChangePriceViewModel
@{
    ViewBag.Title = "ChangePrice";
}

<h2>Change Price</h2>
<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>Current</legend>
            <dl>
                <dt>@Html.DisplayNameFor(m => m.CurrentUnitPrice)</dt>
                <dd>@Model.CurrentUnitPrice</dd>
                <dt>@Html.DisplayNameFor(m => m.CurrentMarginPercentage)</dt>
                <dd>@(@Model.CurrentMarginPercentage * 100) %</dd>
                <dt>@Html.DisplayNameFor(m => m.CurrentMarginAmount)</dt>
                <dd>@Model.CurrentMarginAmount</dd>
                <dt>@Html.DisplayNameFor(m => m.CurrentTotalPrice)</dt>
                <dd>@Model.CurrentTotalPrice</dd>
            </dl>
        </fieldset>

    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("PreviewNewPrice", "Product"))
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ProductId)
            <fieldset>
                <legend>Expected</legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.UnitPrice)
                    @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                </div>
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.ExpectedIncome)
                    @Html.TextBoxFor(m => m.ExpectedIncome, new { @class = "form-control" })
                </div>
            </fieldset>

            <input type="submit" class="btn btn-primary" value="Preview" />
        }
    </div>
    <div class="col-md-4">
        @if (Model.ChangePriceOutcomeViewModel != null)
        {
            @Html.Partial("ChangePriceOutcome", Model.ChangePriceOutcomeViewModel)
        }
    </div>
</div>

