﻿@using PagedList.Mvc;
@using PagedList;
@using CqrsShop.Web.Models.Product;
@model IPagedList<ProductViewModel>
@{
    ViewBag.Title = "Product Management";
}
<h2>Products Management</h2>
<div class="row">
    <form action="@Url.Action("AddProduct")" method="get">
        <button type="submit" class="btn btn-primary">New product</button>
    </form>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Sale platform</th>
                <th>Price</th>
                <th>Margin amount</th>
                <th>Margin percentage</th>
                <th>Income from single item</th>
                <th>Total Price</th>
                <th>Stock amount</th>
                <th>Stock sold</th>
                <th>Available</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var product = Model[i];
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@Html.ActionLink(@product.ProductName, "ProductDetails", new { productId = product.Id })</td>
                    <td>@product.SalePlatform.ToString()</td>
                    <td>@product.Price.ToString("#0.00")</td>
                    <td>@product.MarginAmount.ToString("#0.00")</td>
                    <td>@($"{(product.MarginPercentage * 100).ToString("G29")}%")</td>
                    <td>@product.IncomeFromItem.ToString("#0.00")</td>
                    <td>@product.TotalPrice.ToString("#0.00")</td>
                    <td>@product.StockAmount</td>
                    <td>@product.SoldAmount</td>
                    <td>@product.AvailableAmount</td>
                    <td>@(product.IsActive ? "YES" : "NO")</td>
                    <td class="btn-stacked">
                        @Html.ActionLink("Change item information", "ChangeInformation", new { productId = product.Id }, new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Change price", "ChangePrice", new { productId = product.Id }, new { @class = "btn btn-warning btn-xs" })

                        @Html.ActionLink("Manage codes", "ManageCodes", new { productId = product.Id }, new { @class = "btn btn-default btn-xs" })

                        @if (product.IsActive)
                        {
                            @Html.ActionLink("Deactivate", "DeactivateProduct", new { productId = product.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-danger btn-xs" })
                        }
                        else
                        {
                            @Html.ActionLink("Activate", "ActivateProduct", new { productId = product.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-success btn-xs" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>