﻿@using CqrsShop.Web.Helpers
@model CqrsShop.Web.Models.Product.ManageCodesViewModel

<div class="row">
    <div class="col-md-12">
        <h2>@Model.ProductInfo.ProductName</h2>
    </div>
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Sale platform:</dt>
            <dd>@Html.GetEnumDescription(Model.ProductInfo.SalePlatform)</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
        @using (Html.BeginForm("AddCodes", "Product", FormMethod.Post, new { id = "add-codes" }))
        {
            @Html.HiddenFor(m => m.ProductInfo.ProductId)
            <fieldset>
                <legend>Add new codes</legend>
            </fieldset>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.NewCodes)
                @Html.TextAreaFor(m => m.NewCodes, new { @class = "form-control", rows = 10 })
            </div>
            <input type="submit" class="btn btn-primary" />
        }
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Serial</th>
                    <th>Already Sold</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Codes.Count; i++)
                {
                    var code = Model.Codes[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@code.Code</td>
                        <td>@code.AlreadySold</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>