﻿@using CqrsShop.Web.Models.Product
@using CqrsShop.Web.Helpers;
@model ProductDetailsViewModel

<div class="row">
    <div class="col-md-12">
        <h2>@Model.ProductName</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Sale platform:</dt>
            <dd>@Html.GetEnumDescription(Model.SalePlatform)</dd>
            <dt>Genre:</dt>
            <dd>@Html.GetEnumDescription(Model.GameGenre)</dd>
            <dt>Status:</dt>
            <dd style="@(!Model.IsActive ? "color:red": "")">
                @(Model.IsActive ? "Active" : "Inactive")
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Change item information", "ChangeInformation", new { productId = Model.Id }, new { @class = "btn btn-info btn-xs" })
        @Html.ActionLink("Change price", "ChangePrice", new { productId = Model.Id }, new { @class = "btn btn-warning btn-xs" })

        @Html.ActionLink("Manage codes", "ManageCodes", new { productId = Model.Id }, new { @class = "btn btn-default btn-xs" })


        @if (Model.IsActive)
        {
            @Html.ActionLink("Deactivate", "DeactivateProduct", new { productId = Model.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-danger btn-xs" })
        }
        else
        {
            @Html.ActionLink("Activate", "ActivateProduct", new { productId = Model.Id, returnUrl = Request.RawUrl }, new { @class = "btn btn-success btn-xs" })
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Product prices</legend>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.Price)</dt>
                <dd>@Html.FormatCurrency(Model.Price)</dd>
                <dt>@Html.DisplayNameFor(m => m.MarginAmount)</dt>
                <dd>@Html.FormatCurrency(Model.MarginAmount)</dd>
                <dt>@Html.DisplayNameFor(m => m.MarginPercentage)</dt>
                <dd>@Model.MarginPercentage %</dd>
                <dt>@Html.DisplayNameFor(m => m.IncomeFromItem)</dt>
                <dd>@Html.FormatCurrency(Model.IncomeFromItem)</dd>
                <dt>@Html.DisplayNameFor(m => m.TotalPrice)</dt>
                <dd>@Html.FormatCurrency(Model.TotalPrice)</dd>
            </dl>
        </fieldset>

        <fieldset>
            <legend>Amounts</legend>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.AvailableAmount)</dt>
                <dd>@Model.AvailableAmount</dd>
                <dt>@Html.DisplayNameFor(m => m.SoldAmount)</dt>
                <dd>@Model.SoldAmount</dd>
                <dt>@Html.DisplayNameFor(m => m.StockAmount)</dt>
                <dd>@Model.StockAmount</dd>
            </dl>
        </fieldset>

        <fieldset>
            <legend>Earnings</legend>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.Earnings)</dt>
                <dd>@Html.FormatCurrency(Model.Earnings)</dd>
            </dl>
        </fieldset>
    </div>
    <div class="col-md-6">
        @foreach (string url in Model.ImgUris)
        {
            <img class="game-image" src="@url" alt="game-image" />
        }
    </div>
</div>